[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
tqdm = "*"
jupyterlab = "*"
networkx = "*"
torch-scatter = "*"
torch-sparse = "*"
torch-cluster = "*"
torch-spline-conv = "*"
torch-geometric = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
